<?xml version='1.0' encoding='utf-8'?>
<plugin id="cordova-plugin-testingcordovaplugin" version="0.0.1" 
    xmlns="http://apache.org/cordova/ns/plugins/1.0" 
    xmlns:android="http://schemas.android.com/apk/res/android">
    <name>Testingcordovaplugin</name>
    <js-module name="testingcordovaplugin" src="www/testingcordovaplugin.js">
        <clobbers target="cordova.plugins.testingcordovaplugin" />
    </js-module>
    <platform name="android">
        <config-file parent="/*" target="res/xml/config.xml">
            <feature name="testingcordovaplugin">
                <param name="android-package" value="cordova-plugin-testingcordovaplugin.testingcordovaplugin" />
            </feature>
        </config-file>
        <config-file parent="/*" target="AndroidManifest.xml"></config-file>
        <source-file src="src/android/testingcordovaplugin.java" target-dir="src/cordova-plugin-testingcordovaplugin/testingcordovaplugin" />
    </platform>
</plugin>